@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

#text-title {
    font-family: 'Unbounded', cursive;
}

input {
    margin-top: 2em;
}

form {
    width: 17em;
}

#form-title {
    width: 20em;
}

.footer-text {
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.footer-container p {
    margin-left: 5px;
}

img {
    position: absolute;
    bottom: 5px;
    left: 259px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
}