{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora - Pitágoras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body class="bg-dark">
    
    <div class="container-fluid text-center mt-2">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <span id="text-title" class="fs-3 text-light">Calculadora de Pitágoras</span>
            </li>
        </ul>
    </div>

    <div class="container mt-5 text-info-emphasis">
        <center>
            <h4>Digite os valores pedidos para realizar o cálculo ou deixe em branco para representar a icógnita</h4>
            <form method="post" id="form-pythagoras">
                <input type="text" class="form-control" name="legA" id="legA" placeholder="Valor do primeiro cateto">
                <input type="text" class="form-control" name="legB" id="legB" placeholder="Valor do segundo cateto">
                <input type="text" class="form-control" name="hypotenuse" placeholder="Valor da hipotenusa">
                <button type="submit" class="btn btn-primary mt-3 fw-semibold fs-5">Calcular</button>
            </form>
        </center>
    </div>

    <div class="container" id="triangle-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/jquery-3.6.3.min.js' %}"></script>
    <script type="module" src="{% static 'assets/js/index.js' %}"></script>
</body>
</html>